<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ورود به سامانه</title>
  </head>
  <body class="container-fluid text-white">
    <header class="row text-white">
      <%- include("navbar"); %>
    </header>
    <section class="row mt-5">
      <form method="post" action="/login" class="form_background p-2 mx-auto col-6">
        <h2 class="text-center">ورود کاربر</h2>
        <div class="mb-3 mt-3 input-group">
          <label for="username" class="float-right">
            نام کاربری
            <input
              class="form-control"
              name="username"
              id="username"
              type="text"
            />
          </label>
        </div>
        <div class="mb-3">
          <label for="password">
            رمز عبور
            <input
              class="form-control"
              name="password"
              id="password"
              type="text"
            />
          </label>
        </div>
        <input type="submit" class="btn btn-success col-12" role="button" value="ورود" />
        <% if (isLogin !== undefined && isLogin) { %>
        <div class="alert alert-success text-right">
          <p class="text-right">کاربر با موفقیت وارد سامانه شد</p>
        </div>
        <% } %>
      </form>
    </section>
  </body>
</html>
